.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* General sizing and positioning */
.container {
    height: 100%;
    width: 100%;
}
.main {
    height: 90%;
}
.inside {
    margin-top: 5px;
    margin-bottom: 5px;
}
.inside-full-height {
    height: 100%;
    margin-top: 0;
    margin-bottom: 0;
}
.content {
    padding-top: 0px;
    padding-bottom: 15px;
}


/* centering of columns */
html,
body {
    width: 100%;
    height: 100%;
}
html {
    display: table;
}
body {
    display: table-cell;
    vertical-align: middle;
}
h2, h3, h4 {
    text-align: center;
}

/* columns of same height styles */
.row-height {
    display: table;
    table-layout: fixed;
    height: 100%;
    width: 100%;
}
.col-height {
    display: table-cell;
    float: none;
    height: 100%;
}
.col-top {
    vertical-align: top;
}
.col-middle {
    vertical-align: middle;
}
.col-bottom {
    vertical-align: bottom;
}

body {
    padding-bottom: 60px;
}
h1 {
    margin: 40px 0px 20px 0px;
    color: #95c500;
    font-size: 28px;
    line-height: 34px;
    text-align: center;
}

/* Colors */
body {
    background-color: #e9e9e9;
}

/* Fonts */
body {
    font-family: 'Open Sans', sans-serif;
    text-transform: none;
    font-weight: 200;
}
.navbar h2,h3,h4 {
    font-weight: 100;
}

/* Nav */
.navbar {
    background-color: #1f242a;
    min-height: 80px;
    color: white;
    border-radius: 0px;
}
.instructions{
    margin: 0px; /* tighten it a bit */
}

/* Side scroller of all users*/
.divTitle {
    background-color: #1f242a;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    padding-bottom: 8px;
    margin-right: 27px;
    margin-left: 27px;
}
.divTitle h3 {
    margin-bottom: 0px !important;
    padding-top: 8px;
    color: white;
}
.scrollerContainer{
    width: 100%;
    height: 700px;
    overflow: auto;
    padding-left: 40px;
    padding-top: 10px;
    background-color: white;
    box-shadow: 5px 5px 12px #888888;
    border-radius: 3px;
}
.allUsers {
    max-height:120px;
    min-height:120px;
    width: 120px;
    margin:auto;
}
.usersTable td{
    padding: 7px;
}

/* Podium */
.podiumTitle {
    margin-right: 55px;
}
.podiumContainer {
    background-color: white;
    position: relative;
    width: 840px;
    height: 500px;
    border-radius: 3px;
    box-shadow: 5px 5px 12px #888888;
}
.svgPodium{
    height: 455px;
    width: 790px;
}
line {
    opacity: .5;
}
.user1Image {
    position: absolute;
    top: 55px;
    right: 340px;
}
.user2Image {
    position: absolute;
    top: 130px;
    right: 580px;
}
.user3Image {
    position: absolute;
    top: 180px;
    right: 80px;
}
.user1Text {
    position: absolute;
    top: 245px;
    right: 10px;
}
.user2Text {
    position: absolute;
    top: 320px;
    right: 245px;
}
.user3Text {
    position: absolute;
    top: 370px;
    right: -255px;
}
.leaderImage {
    max-height:180px;
    min-height:180px;
    margin:auto;
}
.leaderText {
    position: absolute;
    bottom: 15px;
    text-align: center;
    width: 100%;
}

/* Summary */
.summaryContainer {
    padding-top: 15px;
    background-color: white;
    border-radius: 3px;
    box-shadow: 5px 5px 12px #888888;
    margin-right: 27px;
}
.logo {
    width: 35px;
    height: 35px;
    padding: 3px;
}

/* Effects */
/* circle images */
.clipCircle {
    clip-path: circle(50% at 50% 50%);
    -webkit-clip-path: circle(50% at 50% 50%);
}
.textCenter {
    text-align: center;
}

/* Hide some of the slide carousel's controls */
span.glyphicon.glyphicon-chevron-left {
    display: none;
}
span.glyphicon.glyphicon-chevron-right {
    display: none;
}
.carousel-indicators {
    display: none;
}