
<div class="row">
    <h3>{{leaders.meta.workoutTitle}} Leaderboard</h3>
</div>
</row>
    <div class="row main">
        <div class="row-height">

            <div class="col-xl-4 col-height col-middle">
                <div class="inside">
                    <div class="content">
                        <!--<h3>All </h3>-->
                        <div class="scroller" id="scrollingDiv">
                            <div id="usersContainer">
                                <div ng-repeat="slide in slidesAllUsers track by slide.id" index="slide.id">
                                    <img ng-src="{{slide.image}}" class='allUsers' >{{slide.text}} #{{slide.rank}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-7 col-height col-middle">
                <div class="inside">
                    <div class="content col-middle">
                        <h3>Top Ten</h3>
                        <div class="col-xl-6">
                            <uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
                                <uib-slide ng-repeat="slide in slidesTopTen track by slide.id" index="slide.id">
                                    <img ng-src="{{slide.image}}" style="max-height:300px; min-height:300px; margin:auto;">
                                    <div class="carousel-caption">
                                        <h4>{{slide.text}} #{{slide.rank}}</h4>
                                    </div>
                                </uib-slide>
                            </uib-carousel>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- Normally would include the footer in index rather than this view but as it's a SPA with no nav or other pages...-->
    <footer>
        <h3>Total participants: {{leaders.users.length}}</h3>
    </footer>
